# nginx_confd_enable.server_names_hash — default binaire : ngx_cacheline_size (64 amd64)
# nginx_server_names_hash_bucket_size (defaut role : 64)
server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};
