# Blendbyte dynamic modules, built against nginx.org stable
deb [signed-by={{ nginx_apt_keyring_dir }}/blendbyte-archive-keyring.gpg] https://apt.blendbyte.net/nginx {{ ansible_facts.distribution_release }} main
